<!--CDN Conseiljs-->
<script src="vendor/conseiljs.min.js"></script>
<script src="vendor/conseiljs-softsigner.min.js"></script>
<!-- SmartPy Wallet Storage -->
<script src="./wallet-interface/smartpy-wallet.min.js"></script>

<!-- Styles -->
<style>
  #privateKeyOutput {
    width: calc(100% - 210px);
  }

  #providerId {
    width: 300px;
    font-family: monospace;
  }

  span.item {
    min-width: 200px;
    display: inline-block;
  }

  span.mono {
    font-family: monospace;
  }
</style>

<!-- Component -->
<h1 class="page-title">Tezos Faucet Importer</h1>
<p>To obtain free tokens for a test network such as Delphinet and Edonet, you can use the faucet.</p>
<div>
  <ol>
    <li>Download data from the <a href='https://faucet.tzalpha.net' rel="noopener noreferrer"
        target="_blank">Faucet</a>.
    <li>Copy it here.<br><textarea id='faucetInput' class='smallMultilineArea michelson'></textarea>
    <li>
      <button class='centertextbutton' onClick='importPrivateKey()'>Compute your private key</button> from your faucet
      data.<br>
      <span class="item">Private Key:</span> <input type='text' id='privateKeyOutput' value='' readonly />
      <button class='centertextbutton' onClick='saveFaucetAccount()'>Save Account in Wallet</button>
      <br><em>(Please keep this private key, either in the wallet or elsewhere. It is used to originate contracts on
        Delphinet or Edonet and to interact with them.
        <br>If you loose your private key but still have your json for the faucet, you can simply
        replay these steps)</em>
    </li>
    <li>Select a Tezos Delphinet or Edonet node.<br>
      <span>Node:</span>
      <select id="selectNode" onchange="updateSelectNode()">
      </select>
      <input type='text' id="providerId" value='' />
      <button class="centertextbutton" onclick="viewNodeStatus(providerId.value)">View Node Data</button>
    <li><button class='centertextbutton' onClick='activateAccount()'>Activate account</button> (this
      may fail
      with <span class="mono">invalid_activation</span> if already activated).
    <li>Wait for inclusion in the network.
      Check with TzStats on <a href="#"
        onClick='window.open("https://delphi.tzstats.com/account/" + keystoreImport.publicKeyHash)'>Delphinet</a>
      or <a href="#"
        onClick='window.open("https://edo.tzstats.com/account/" + keystoreImport.publicKeyHash)'>Edonet</a>.
    <li><button class='centertextbutton' onClick='revealAccount()'>Reveal account</button> (this may
      fail with
      <span class="mono">previously_revealed_key</span> if already revealed).
    <li>Wait for inclusion in the network.
      Check with TzStats on <a href="#"
        onClick='window.open("https://delphi.tzstats.com/account/" + keystoreImport.publicKeyHash)'>Delphinet</a>
      or <a href="#"
        onClick='window.open("https://edo.tzstats.com/account/" + keystoreImport.publicKeyHash)'>Edonet</a>.
  </ol>
  <p>You're good to go!</p>
</div>
<div id="resultDiv"></div>

<script>
  let keystoreImport = {
    publicKey: '',
    secretKey: '',
    publicKeyHash: '',
    seed: '',
    storeType: 0
  };
  // Load RPC options
  (() => {
    const selectNode = $("#selectNode");
    $("#providerId").val(Object.keys(smartPyNodes)[0]);
    selectNode.append("<option disabled>-- SmartPy.io Nodes --</option>");
    Object.keys(smartPyNodes).forEach(node => {
      if (!shouldSkipNetwork("faucet", node))
        selectNode.append(`<option value="${node}">${smartPyNodes[node]}</option>`);
    });
    selectNode.append("<option disabled>-- Tezos.giganode.io Nodes --</option>");
    Object.keys(gigaNodes).forEach(node => {
      if (!shouldSkipNetwork("faucet", node))
        selectNode.append(`<option value="${node}">${gigaNodes[node]}</option>`);
    });
  })();
</script>
<script>
  // Functions
  async function importPrivateKey() {
    try {
      showResult("Importing private key...");
      const alphanetFaucetAccount = JSON.parse(faucetInput.value);
      keystoreImport = await conseiljssoftsigner.KeyStoreUtils.restoreIdentityFromFundraiser(
        alphanetFaucetAccount.mnemonic.join(' '),
        alphanetFaucetAccount.email,
        alphanetFaucetAccount.password,
        alphanetFaucetAccount.pkh
      );
      privateKeyOutput.value = keystoreImport.secretKey;

      showResult("Private key imported.\n\n\n" + JSON.stringify(keystoreImport, null, 2));
    }
    catch (error) {
      showError("Error while importing private key: " + error.message + "\n\n" + JSON.stringify(error, null, 2));
    }
  };

  const saveFaucetAccount = () => {
    SmartpyWallet.faucet.persist({
      name: keystoreImport.publicKeyHash,
      address: keystoreImport.publicKeyHash,
      publicKey: keystoreImport.publicKey,
      privateKey: keystoreImport.secretKey
    });

    showModal({
      title: "Faucet Account Imported",
      content: "The Faucet account was successfully added."
    });
  }

  async function activateAccount() {
    try {
      showResult("Activating account...");
      alphanetFaucetAccount = JSON.parse(faucetInput.value);
      let signer = await conseiljssoftsigner.SoftSigner.createSigner(conseiljs.TezosMessageUtils.writeKeyWithHint(keystoreImport.secretKey, 'edsk'), -1);
      const result = await conseiljs.TezosNodeWriter.sendIdentityActivationOperation(providerId.value, signer, keystoreImport, alphanetFaucetAccount.secret);
      showResult("Sending account activation.\n\n\n" + JSON.stringify(result, null, 2));
    }
    catch (error) {
      console.log(error);
      showError("Error while activating account: " + error.message + "\n\n" + JSON.stringify(error, null, 2));
      if (error.message.includes("operation.invalid_activation")) {
        showError("Error while activating account: " + error.message + "\nThe account is probably already activated, please check on a block explorer.\n\n" + JSON.stringify(error, null, 2));
      }
    }
  };

  async function revealAccount() {
    try {
      showResult("Revealing account...");
      console.log(`Revealing public key`);
      const counter = await conseiljs.TezosNodeReader.getCounterForAccount(providerId.value, keystoreImport.publicKeyHash) + 1;

      const revealOp = {
          kind: 'reveal',
          source: keystoreImport.publicKeyHash,
          fee: '1270',
          counter: counter.toString(),
          gas_limit: String(calculateGasLimit(10000, providerId.value.includes('dalphanet'))),
          storage_limit: '0',
          public_key: keystoreImport.publicKey
      };
      const operations = [revealOp];

      let signer = await conseiljssoftsigner.SoftSigner.createSigner(conseiljs.TezosMessageUtils.writeKeyWithHint(keystoreImport.secretKey, 'edsk'), -1);
      const result = await conseiljs.TezosNodeWriter.sendOperation(providerId.value, operations, signer);
      console.log(`Injected reveal operation group id ${result.operationGroupID}`);
      showResult("Revelation of account OK.\n\n\n" + JSON.stringify(result, null, 2));
    }
    catch (error) {
      console.log(error);
      showError("Error while activating account: " + error.message + "\n\n" + JSON.stringify(error, null, 2));
      if (error.message.includes("previously_revealed_key")) {
        showResult("The account has already been revealed, please check on a block explorer, you're good to go!");
      }
    }
  }

  function showError(error) {
    resultDiv.innerHTML = "<hr><h2>Error</h2><textarea id='shareLink' class='michelson' readonly>" + error + "</textarea>";
  }

  function showResult(result) {
    resultDiv.innerHTML = "<hr><h2>Result</h2><textarea id='shareLink' class='michelson' readonly>" + result + "</textarea>";
  }

  function cleanAll() { }

  function updateSelectNode() {
    if (selectNode.value) {
      providerId.value = selectNode.value
    }
  }
  updateSelectNode();

  function handleDrop(e) {
    e.stopPropagation()
    e.preventDefault()
    var reader = new FileReader();
    reader.onload = function (event) {
      faucetInput.value = event.target.result
    }
    reader.readAsText(e.dataTransfer.files[0])
  }
  function handleDragOver(e) {
    e.stopPropagation();
    e.preventDefault();
    e.dataTransfer.dropEffect = 'copy';
  }
  faucetInput.addEventListener('dragover', handleDragOver, false)
  faucetInput.addEventListener('drop', handleDrop, false)
</script>
