<div class="tabs">
  <div class="tab">
    <span class="title">From: </span>
    <button id="walletTab" class="tablinks active" onclick="useWallet();openTab(event, 0)">The SmartPy Wallet</button>
    <button id="beaconWalletTab" class="tablinks" onclick="useBeacon();openTab(event, 1)"><img height="24px" src="./static/img/beacon-logo.svg" /></button>
    <button id="templeWalletTab" class="tablinks" onclick="useTemple();openTab(event, 2)"><img height="24px" src="./static/img/temple-logo.svg" /></button>
    <button id="ledgerTab" class="tablinks" onclick="useLedger();openTab(event, 3)">A Ledger Hardware Wallet</button>
    <button id="plainTextTab" class="tablinks" onclick="usePlainText();openTab(event, 4)">Plain Text Test Keys</button>
  </div>
  <div class="tabcontent" style="display: block;">
    <div include-html="./components/wallet-widget.html"></div>
  </div>
  <div class="tabcontent" style="display: none;">
    <div style="width: 512px; margin: 0 auto;">
      <div id="beaconWallet" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="width: 100%; display: flex; align-items: center; justify-content: space-between; align-content: center; background-color: var(--button-hover-color); padding: 10px;">
          <p style="margin-bottom: 0;">Beacon is disconnected.</p>
          <button class="centertextbutton" onclick="connectBeacon()">Connect</button>
        </div>
      </div> 
    </div>
  </div>
  <div class="tabcontent" style="display: none;">
    <div style="width: 512px; margin: 0 auto;">
      <div id="templeWallet" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      </div> 
    </div>
  </div>
  <div class="tabcontent" style="display: none;">
    <div include-html="./components/ledger-widget.html"></div>
  </div>
  <div class="tabcontent" style="display: none;">
    <span class='partialType'>Warning: this is for test networks such as Delphinet and Edonet, do not
      input Mainnet Private Keys here.</span>
    <br><em>A private key is needed - you can use the Tezos Faucet Importer embedded in the <a href="wallet.html" target="_blank">wallet</a> to retrieve one.</em>
    <br>
    <span class="item">Private Key:</span> <input type='text' id='privateKeyInput' value='' />
    <br>
    <em>With a private key, you can <button class='centertextbutton' onClick='get_credentials("")'>check
        credentials and compute account public key hash</button> and obtain a public account.</em>
    <br>
    <span class="item">Account public key hash:</span> <input type='text' id='accountPKH' value='' readonly />
  </div>
</div>
<script>
  let templesWallet;
  let wallet;

  async function get_credentials(message) {
    try {
      showResult("Checking key...");
      $("#accountPKH").val("")
      $("#sourceAddress").val("");
      let sk = privateKeyInput.value;
      if (sk.length == 0) {
        showError("Cannot import empty private key", "")
        return false;
      }
      keystore = await conseiljssoftsigner.KeyStoreUtils.restoreIdentityFromSecretKey(sk);
      console.log(`recovered public key: ${keystore.publicKey}`)
      $("#accountPKH").val(keystore.publicKeyHash)
      $("#sourceAddress").val(keystore.publicKeyHash);
      showResult('Private Key is valid.\n\nAccount = ' + keystore.publicKeyHash + '\n\n' + message);
      return true;
    }
    catch (error) {
      showError("Error while loading private key: " + error.message, JSON.stringify(error, null, 2));
    }
  };

  function handle_exception(context, error, showError) {
    if (error && error.message && error.message.toLowerCase().includes('ledger')) {
      showError(error.message, "")
    } else {
      var s = context + error.message;
      let details = ""
        try {
          details += ppInvocationResult(JSON.parse(error.response)).message
        }
      catch(err_)
      {
        console.log(error)
        details += "RPC_ParseError (please see the console)" + err_.msg
      }
      showError(s, details);
    }
  }

  async function connectTemple() {
    try {
      const network = await getRpcNetwork(providerId.value);

      await templeWallet.connect({ name: `SmartPy - ${network}`, rpc: providerId.value }, { forcePermission: true });

      refreshTempleWallet();
    } catch (err) {
      console.error("CONNECT_TEMPLE", err);
    }
  }

  async function refreshTempleWallet(isAvailable) {
    if (typeof isAvailable === "undefined") {
      isAvailable = await TempleWallet.TempleWallet.isAvailable()
    }
    
    if (isAvailable) {
      templeWallet = templeWallet || new TempleWallet.TempleWallet("SmartPy");

      if (templeWallet.connected) {
        const tezos = await templeWallet.toTezos();
        wallet = tezos.wallet;
        const pkh = await tezos.wallet.pkh();
        if (accountMethod === "temple") {
          keystore.publicKeyHash = pkh;
          $("#sourceAddress").val(pkh);
        }
        const balance = await tezos.tz.getBalance(pkh);

        html = `
        <div class="flexRow">
          <p style="margin-bottom: 0;">Temple Wallet is connected.</p>
          <button class="centertextbutton" onclick="connectTemple()">Change Account</button>
        </div>
        <div>
          <span class="item">Account Address:</span> <input type='text' value=${pkh} style="width:280px;"readonly /><br>
          <span class="item">Spendable Balance:</span> <input type='text' value=${tezos.format('mutez', 'tz', balance).toString()} style="width:280px;"
            readonly />
          <img class="nav-icon" src="./svgs/tezos-xtz-logo.svg" />
        </div>
        `;
      } else {
        html = `
        <div class="flexRow">
          <p style="margin-bottom: 0;">Temple Wallet is disconnected.</p>
          <button class="centertextbutton" onclick="connectTemple()">Connect</button>
        </div>
        `;
      }
    } else {
      html = `
      <p>Temple Wallet is not installed.</p>
      <p style="margin-bottom: 0;">Install on <a href="https://templewallet.com/">templewallet.com</a>.</p>
      `;
    }

    const templeWalletDiv = $("#templeWallet");
    templeWalletDiv.html(html);
  }

  function useTemple() {
    accountMethod = "temple";
    templeWallet = null;
    wallet = null;
    refreshTempleWallet();
  }

  async function useBeacon() {
    accountMethod = "beacon";

    const beaconWalletDiv = $("#beaconWallet");
    const extensions = await beacon.availableTransports.availableExtensions;

    if (extensions.length === 0) {
      beaconWalletDiv.html(`
      <p>No extensions installed.</p>
      <p style="margin-bottom: 0;">Install on <a href="https://www.walletbeacon.io/">walletbeacon.io</a>.</p>
      `);
    } else {
      beaconWalletDiv.html(`
      <div class="flexRow">
        <p style="margin-bottom: 0;">Beacon is disconnected.</p>
        <button class="centertextbutton" onclick="connectBeacon()">Connect</button>
      </div>
      <div class="flexRow" style="background-color: transparent;">
        <p style="margin-bottom: 0;">Detected extensions: </p>
        <p style="margin-bottom: 0;">${extensions.map(v => v.name).join(", ")}</p>
      </div>
      `);
    }
  }

  async function connectBeacon() {
    const beaconWalletDiv = $("#beaconWallet");
    const network = await getRpcNetwork(providerId.value);

    const tezosTaquito = new TempleWallet.TezosToolkit(providerId.value);
    const beaconWallet = new beacon.BeaconWallet({
        name: 'SmartPy',
        iconUrl: 'https://smartpy.io/favicon-32x32.png'
    });
    await beaconWallet.client.accountManager.removeAllAccounts();

    let html = '';
    await beaconWallet.requestPermissions({
      network: {
        type: beacon.NetworkType.CUSTOM,
        name: `SmartPy - ${network}`,
        rpcUrl: providerId.value,
      }, scopes: [
        beacon.PermissionScope.OPERATION_REQUEST
      ]
    })
    .then((_) => beaconWallet.getPKH())
    .then(async (address) => {
      // Spendable address
      const spendableBalance = await conseiljs.TezosNodeReader.getSpendableBalanceForAccount(
        providerId.value,
        address,
      );

      keystore.publicKeyHash = address;
      $("#sourceAddress").val(address);
      
      html = `
        <div class="flexRow">
          <p style="margin-bottom: 0;">Beacon is connected.</p>
          <button class="centertextbutton" onclick="connectBeacon()">Re-Connect</button>
        </div>
        <div>
          <span class="item">Account Address:</span> <input type='text' value=${address} style="width:280px;"readonly /><br>
          <span class="item">Spendable Balance:</span> <input type='text' value=${(spendableBalance / 1000000).toFixed(6)} style="width:280px;"
            readonly />
          <img class="nav-icon" src="./svgs/tezos-xtz-logo.svg" />
        </div>
      `;
    });

    tezosTaquito.setWalletProvider(beaconWallet);
    wallet = tezosTaquito.wallet;

    beaconWalletDiv.html(html);
  }
</script>
